html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 214, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    width: 20%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.field{
    width: 100%;
    border: none;
    padding: 0.5rem 0.1rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}